:root {
  --blanc: rgba(255, 255, 255, 1);
  --noir: rgba(1, 1, 1, 1);
  --burgundy: rgba(173, 45, 45, 1);
  --red: rgba(225, 13, 14, 1);
  --vegetable: rgba(54, 97, 81, 1);
  --h1-font-family: Teko, Helvetica, sans serif;
  --h1-font-weight: 700;
  --h1-font-size: 48px;
  --h1-letter-spacing: 0px;
  --h1-line-height: normal;
  --h1-font-style: normal;
  --h2-font-weight: 500;
  --h2-font-family: Teko, Helvetica, sans serif;
  --h2-font-size: 36px;
  --h2-letter-spacing: 0px;
  --h2-line-height: normal;
  --h2-font-style: normal;
  --h3-font-family: Teko, Helvetica, sans serif;
  --h3-font-weight: 500;
  --h3-font-size: 24px;
  --h3-letter-spacing: 0px;
  --h3-line-height: normal;
  --h3-font-style: normal;
  --button-font-family: Teko, Helvetica, sans serif;
  --button-font-weight: 700;
  --button-font-size: 20px;
  --button-letter-spacing: 0px;
  --button-line-height: normal;
  --button-font-style: normal;
  --h4-font-family: Teko, Helvetica, sans serif;
  --h4-font-weight: 700;
  --h4-font-size: 16px;
  --h4-letter-spacing: 0px;
  --h4-line-height: normal;
  --h4-font-style: normal;
  --text-font-family: Teko, Helvetica, sans serif;
  --text-font-weight: 500;
  --text-font-size: 14px;
  --text-letter-spacing: 0.42px;
  --text-line-height: 24px;
  --text-font-style: normal;
  /* breakpoints 
  --desktop: 1440px;
  --laptop: 1280px;
  --tablet: 840px;
  --mobile: 430px;
  */
}

body {
  display: block;
  margin: 0;
}

/* Typographie */

h1,
h2,
h3,
h4,
p,
.text,
.cta {
  margin: 0;
  width: 100%;
  height: auto;
  text-wrap: wrap;
 
}

h1,
.title {
  text-transform: capitalize;
  font-family: var(--h1-font-family);
  font-weight: var(--h1-font-weight);
  font-size: var(--h1-font-size);
  letter-spacing: var(--h1-letter-spacing);
  line-height: var(--h1-line-height);
  font-style: var(--h1-font-style);
  @media (max-width: 430px) {
    font-size: 2.5rem;
  }
}

h2 {
  font-family: var(--h2-font-family);
  font-weight: var(--h2-font-weight);
  font-size: var(--h2-font-size);
  letter-spacing: var(--h2-letter-spacing);
  line-height: var(--h2-line-height);
  font-style: var(--h2-font-style);
  text-transform: uppercase;
  @media (max-width: 430px) {
    font-size: 2rem;
  }
}

h3 {
  font-family: var(--h3-font-family);
  font-weight: var(--h3-font-weight);
  font-size: var(--h3-font-size);
  letter-spacing: var(--h3-letter-spacing);
  line-height: var(--h3-line-height);
  font-style: var(--h3-font-style);
  @media (max-width: 430px) {
    font-size: 1.5rem;
  }
}
h4 {
  font-family: var(--h4-font-family);
  font-weight: var(--h4-font-weight);
  font-size: var(--h4-font-size);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  font-style: var(--h4-font-style);
  @media (max-width: 430px) {
    font-size: 1rem;
  }
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}

.text,
p {
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight);
  font-size: var(--text-font-size);
  letter-spacing: var(--text-letter-spacing);
  line-height: var(--text-line-height);
  font-style: var(--text-font-style);
  @media (min-width: 1024px) {
    font-size: larger;
  }
}

.cta {
  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
  font-style: var(--button-font-style);
  font-weight: var(--button-font-weight);
  line-height: var(--button-line-height);
  letter-spacing: var(--button-letter-spacing);
}

.txt-blanc {
  color: var(--blanc);
}

.txt-noir {
  color: var(--noir);
}

.text-burgundy {
  color: var(--burgundy);
}
